/*resets*/
html, body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*general rules*/
h1 {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Zilla Slab Highlight';
  font-size: 60px;
  font-weight: 400;
}

h2 {
	color: #000;
	font-family: "Patrick Hand SC";
	font-size: 40px;
	font-weight: 400;
	text-align: center;
}

h3 {
	color: #000;
	font-family: "Patrick Hand SC";
	font-size: 30px;
	font-weight: 400;
}

p {
	color: #000;
	font-family: "Patrick Hand";
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
}

button {
  padding: 12px 24px;
  font-family: "Patrick Hand";
	font-size: 25px;
	font-weight: 700;
  border-radius: 6px;
  border: none;
  background: #F4985B;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

button:hover {
  opacity: 0.85;
}

.paper {
  background: #fffaf7;             /* soft cream */
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0,0,0,0.02) 0,
    rgba(0,0,0,0.02) 1px,
    transparent 1px,
    transparent 5px
  );
}

/* ====================== index.html - Home Page ============================*/
/*Navigation - spaced nicely*/
.site-header {
  display: flex;              
  justify-content: space-between; 
  align-items: center;    
  background-color: #D99DAF;
  padding: 16px 40px;   
}

/*logo + name */
.brand {
  display: flex;             
  align-items: center;
  gap: 12px;
  color: white;
  font-size: 25px;
  font-weight: 800;
}

.logo {
  width: 70px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;             
  gap: 30px;                    
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 800;
}

nav ul li a:hover {
  color: black;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

/*Hero Section*/
.hero {
  position: relative;
  height: 650px;  
}


.hero-text {
  position: absolute;      
  top: 45%;             
  left: 10%;             
  transform: translate(0%, -50%);  
  color: white;          
  max-width: 600px;
}

.hero-text h1 {
  color: #000;
	font-family: "Zilla Slab Highlight";
	font-size: 100px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: left;
	margin: 0 0 30px;
}

.hero-text p {
  color: #000;
	font-family: "Zilla Slab Highlight";
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: left;
	margin: 0 0 30px;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  object-position: center;
  display: block;
  margin: 0 0 11px;
}

/*Craft section*/
.crafts{
  background-color: #FFFBFB;
}

.craft-grid {
  display: grid;
  grid-template-columns: repeat(3, 250px); 
  justify-content: center;           
  gap: 60px;                  
  margin-top: 60px;
}

/* the individual cards */
.craft {
	background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  width: 100%; 
}

.craft img {
  width: 100%;
  aspect-ratio: 1 / 1;  
  object-fit: cover; 
  display: block;
}
.crafts p {
  font-family: 'Patrick Hand';
  font-size: 18px;
  font-weight: 500;
  margin: 12px 0;
  color: #222;
}

.crafts h2, .featured-projects h2 {
	font-size: 80px;
	margin-top: 20px
	margin-bottom: 20px;
}

.craft:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/*featured projects section*/
.featured-projects {
  background: #FFFBFB;
  padding: 80px 0;
  text-align: center;
}

/* grid + cards */
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 per row */
  max-width: 1100px;
  margin: 0 auto;
  gap: 60px;
}
.project-card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  transition: 0.25s;
  cursor: pointer;
  text-align: left;
}

.project-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.project-card .content {
  padding: 20px;
}

.project-card a {
  color: #ED7C30;
  text-decoration: none;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.18);
}

.workshops {
  background: #FFFBFB;
  padding: 60px 0;
  text-align: center;
}

.workshop-list {
  list-style: none;
  max-width: 800px;
  margin: 40px auto 0;
  padding: 0;
  text-align: left;
}

.workshop-list li {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  font-family: 'Patrick Hand';
  font-size: 22px;
}



/* ====================== Blog Page ============================*/

.blog-section {
  padding: 80px 20px;
  background: white;
  max-width: 1200px;
  margin: 0 auto;
}

/* individual blog cards */
.blog-card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 40px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  transition: 0.25s;
  cursor: pointer;
}
.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.18);
}
.blog-card img {
  width: 360px;           
  height: auto;
  object-fit: cover;
  border-radius: 16px 0 0 16px;
  display: block;
}
.blog-card div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-card h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: 'Patrick Hand SC';
  font-size: 40px;
}
.blog-card p {
  margin: 0;
  font-family: 'Patrick Hand';
  font-size: 18px;
  line-height: 1.5;
  color: #4B3F99;
}

  .blog-card img {
    width: 100%;
    border-radius: 16px 16px 0 0;
  }
}





/* ====================== Materials Page ============================*/
.products-page {
  padding: 80px 0;
  text-align: center;
  background: #FFFBFB;
}
.products-page h1 {
  margin-bottom: 20px;
}
.gallery-section button {
  display: block;              
  margin-left: auto;          
  margin-right: 115px
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  max-width: 1100px;
  margin: 0 auto;
}
/* indiv cards */
.product-card {
	display: flex; 
  background: white;
  flex-direction: column;
  justify-content: space-between; 
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  text-align: center;
  transition: 0.25s;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.18);
}
.product-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

.product-card p {
  margin-bottom: 20px;
  flex-grow: 1;
  font-size: 25px;
}

.add-btn {
  width: 100%;
}

/* ====================== Gallery Section ============================*/
.gallery-section {
    text-align: center;
    padding: 80px 20px;
}

.gallery-section h1 {
    margin-bottom: 20px;
}

.gallery-section p {
    margin-bottom: 30px;
}

.gallery-section button {
    margin-bottom: 50px;
    padding: 10px 25px;
    font-family: 'Patrick Hand SC';
    font-size: 25px;
    background: #F4985B;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/*gallery grid with cards*/
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-card {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-card img {
    width: 100%;
    height: 250px;   
    object-fit: cover;  
    border-radius: 4px;
    display: block;
}

.gallery-card:hover {
    transform: translateY(-5px) rotate(-1deg);
}

.gallery-card:nth-child(odd) {
    transform: rotate(-2deg);
}
.gallery-card:nth-child(even) {
    transform: rotate(1deg);
}

.gallery-card::before {
    content: "";
    width: 40px;
    height: 15px;
    background: #f5d6c6;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-3deg);
    border-radius: 2px;
}

/*modal javascript*/
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background: white;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  border-radius: 8px;
  position: relative;
}

.modal-content img {
  width: 300px;   
  border-radius: 8px;
  margin-bottom: 10px;
}

.modal-author, .modal-likes {
  font-weight: bold;
  margin-top: 5px;
  color: #555;
}

.close {
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
}





/*=================== About Page ======================*/

.story-content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  border-radius: 16px;
  max-width: 1200px;      
  padding: 40px 20px 80px;
  margin: 0 auto;         
  justify-content: center;  
}


.story h1 {
  font-family: 'Zilla Slab Highlight';
  font-size: 60px;
  text-align: center;
  margin-top: 40px;
  
}
.story p {
	letter-spacing: 0.3px;
	line-height: 1.6; 
}

.founder-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.story-content img,
.team-grid img,
.other-team .team-grid img {
  width: 250px;
  height: 250px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.founder-name {
  font-family: 'Patrick Hand SC';
  font-size: 22px;
  color: #222;
}

.story-text {
  font-family: 'Patrick Hand';
  font-size: 20px;
  line-height: 1.6;
  color: #222;
  flex: 1;
  text-align: left;
}

/*Teams img formats*/
.team {
  border-top: 8px solid #EEE176; 
  padding: 60px 20px;
  background-color: rgba(150, 142, 201, 0.05); 
}
.other-team {
  border-top: 8px solid #968EC9;
  padding: 60px 20px;
}
.team h2,
.other-team h2 {
  text-align: center;
  font-family: 'Zilla Slab Highlight';
  font-size: 60px;
  margin-bottom: 40px;
}
.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
.team-grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.team-grid p {
  font-family: 'Patrick Hand';
  font-size: 20px;
  text-align: center;
}


/* =================Contact Page ================ */
.contact-section {
  padding: 80px 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.contact-section h1 {
  font-family: 'Zilla Slab Highlight';
  font-size: 60px;
  margin-bottom: 20px;
}

.contact-section p {
  font-family: 'Patrick Hand';
  font-size: 22px;
  margin-bottom: 50px;
  color: #222;
  line-height: 1.5;
}


.contact-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* styling for form with javascript */
.contact-form {
  background: rgba(150, 142, 201, 0.1);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form label {
  font-family: 'Patrick Hand SC';
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  font-family: 'Patrick Hand';
  font-size: 18px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid #ccc;
  resize: vertical;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #968EC9;
}

.contact-info {
  background: rgba(238, 225, 118, 0.15); /* soft yellow accent */
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.contact-info h2 {
  font-family: 'Zilla Slab Highlight';
  font-size: 60px;
  margin-bottom: 20px;
}

.contact-info p {
  font-family: 'Patrick Hand';
  font-size: 20px;
  margin-bottom: 12px;
}

/*submit button */
.contact-form button {
  padding: 16px 32px;
  font-family: 'Patrick Hand';
  font-size: 22px;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  background: #F4985B;
  color: white;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 6px 4px rgba(0,0,0,0.25);
}
.contact-form button:hover {
  opacity: 0.85;
}

#formMessage {
  font-family: 'Patrick Hand SC';
  font-size: 40px;
  margin-top: 10px;
  min-height: 24px; 
  transition: opacity 0.3s;
}


/*========================= Footer ======================*/
footer p {
	font-size: 20px;
}
footer h3 {
	font-family: "Patrick Hand SC";
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 30px;
}
footer {
  background: #E3BDC8;
  padding: 60px 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  gap: 40px;
}

/*second footer navigation  */
.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  margin-bottom: 10px;
}

.footer-nav li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  opacity: 0.9;
  font-family: "Patrick Hand";
}

.footer-nav li a:hover {
  color:white;
  text-decoration: underline;
}

/* contact info */
.footer-contact p {
  margin: 0 0 12px;
  font-size: 20px; 
}

.footer-bottom {
	text-align: right;
}


