/*reset?*/
html, body {
  margin: 0;
  padding: 0;
}

h2 {
	color: #000;
	font-family: "Patrick Hand SC";
	font-size: 96px;
	font-weight: 400;
}

p {
	color: #000;
	font-family: "Patrick Hand";
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
}

button {
  padding: 14px 32px;
  font-family: "Patrick Hand";
	font-size: 25px;
	font-weight: 700;
  border: none;
  border-radius: 8px;
  background: #ED7C30;
  color: white;
  cursor: pointer;
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.25);
}

button:hover {
  opacity: 0.85;
}

/*Navigation - space them nicely*/
.site-header {
  display: flex;              
  justify-content: space-between; 
  align-items: center;    
  background-color: #F6DBDB;
  padding: 16px 40px;   
}

/*logo + name */
.brand {
  display: flex;             
  align-items: center;
  gap: 12px;
}

.logo {
  width: 50px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;             
  gap: 30px;                    
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
  font-weight: 500;
}

nav ul li a:hover {
  opacity: 0.6;
}

/*Hero*/
.hero {
  position: relative;  
}
.hero {
  position: relative;
  height: 650px;        /* cropped height*/
  overflow: hidden;
}


.hero-text {
  position: absolute;      
  top: 40%;             
  left: 10%;             
  transform: translate(0%, -50%);  
  color: white;          
  max-width: 600px;
}

.hero-text h1 {
  color: #000;
	font-family: "Zilla Slab Highlight";
	font-size: 100px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: left;
}

.hero-text p {
  color: #000;
	font-family: "Zilla Slab Highlight";
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: left;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  object-position: center;
  display: block;
}

.crafts {
	background:#FFFBFB; 
}


footer {
	background: #EBBEB6;
}

footer p {
	
	font-size: 20px;
}
