/*reset?*/
html, body {
  margin: 0;
  padding: 0;
}

button {
  padding: 14px 32px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #ED7C30;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

/*Navigation - space them nicely*/
.site-header {
  display: flex;              
  justify-content: space-between; 
  align-items: center;    
  background-color: #F6DBDB;
  padding: 16px 40px;   
}

/*logo + name */
.brand {
  display: flex;             
  align-items: center;
  gap: 12px;
}

.logo {
  width: 50px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;             
  gap: 30px;                    
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
  font-weight: 500;
}

nav ul li a:hover {
  opacity: 0.6;
}

/*Hero*/
.hero {
  position: relative;  
}
.hero {
  position: relative;
  height: 650px;        /* cropped height*/
  overflow: hidden;
}


.hero-text {
  position: absolute;      
  top: 50%;             
  left: 50%;             
  transform: translate(-50%, -50%);  
  color: white;          
  text-align: center;  
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 36px;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  object-position: center;
  display: block;
}

.crafts {
	background:#FFFBFB; 
}

.footer {
	background: #EBBEB6;
}
